# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
.pnp
.pnp.js

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# IDE configuration files
.vscode/
.idea/

# Mac OS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Dependency lock files
package-lock.json
yarn.lock
